<header class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo">UptimeMonitor</a>
    <nav class="header__nav">
      <ul class="header__nav-container">
        <li>
          <a class="header__nav-link" routerLink="">home</a>
        </li>
        <li>
          <a class="header__nav-link" routerLink="">signup</a>
        </li>
        <li>
          <a class="header__nav-link" routerLink="">login</a>
        </li>
        <li>
          <a class="header__nav-link" routerLink="">dashboard</a>
        </li>
        <li>
          <a class="header__nav-link" routerLink="">account settings</a>
        </li>
        <li>
          <a class="header__nav-link" routerLink="">logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>