<header class="header">
  <div class="header__container">
    <a routerLink="/home" class="header__logo">UptimeMonitor</a>
    <nav class="header__nav">
      <ul class="header__nav-container">
        <li *ngIf="isLoggedIn">
          <a class="header__nav-link" routerLink="/home">home</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="header__nav-link" routerLink="/account-create">signup</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a class="header__nav-link" routerLink="/login">login</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a class="header__nav-link" routerLink="">dashboard</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a class="header__nav-link" routerLink="">account settings</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a class="header__nav-link" routerLink="/logout">logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>