<section class="top-section">
  <app-header appHeaderColor="light-theme"></app-header>
  <section class="hero-area">
    <div class="hero-area__container">
      <div class="hero-area__text">
        <h1 class="hero-area__text-header">Uptime Monitoring - Made Simple</h1>
        <p class="hero-area__text-description">
          We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. <br>
          When your site goes down, we will send you a text to let you know.
        </p>
        <button routerLink="/account-create" class="hero-area__get-started-btn">get started</button>
        <button class="hero-area__login-btn">login</button>
      </div>
      <div class="hero-area__jet">
        <img src="../../assets/rocket.png"/>
      </div>
    </div>
  </section>
  <section class="education-section">
    <div>
      
    </div>
  </section>
</section>
<section>

</section>